<!-- Blog Section -->
<section id="blog">
    <div class="row">
        <div class="col-lg-6 divider-box fill contributionBG">
        </div>
        <div class="col-lg-6 divider-box bg-darkest-gray">
            <h2 class="section-heading">Vi vill göra skillnad</h2>
            <p>Vårt bolagsnamn är inte bara byggt för att koppla till stammar och gemenskap. I Contribe finns också släktskapet med det fina och viktiga ordet contribute – att bidra. Vi engagerar oss vi vill bidra till positiv utveckling av samhället i allmänhet och till att maximera de digitala möjligheterna för unga i synnerhet.</p><p>Här kan du läsa mer om de satsningar vi hittills gjort:  <a href="https://www.facebook.com/InternetCampSweden/?fref=ts" target="_blank"> Internet Camp</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 divider-box fill blogBG">
            <h4 class="offer-heading offer-heading-blog">NYHETER</h4>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 blog-data divider-box">
            {% for post in site.categories.blog %}
            <div>
                <a href="#portfolioModal{{ post.modal-id }}" data-toggle="modal"><p><strong>{{ post.date | date: "%Y-%m-%d" }}</strong> | {{ post.title }}</p></a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>