<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img class="img-responsive logoHeader" src="img/contribe-logo-white.png" alt="contribe logo"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#offer">Erbjudande</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Kunduppdrag</a>
                </li>
                <li>
                    <a class="page-scroll" href="#blog">Blogg</a>
                </li>
                <li>
                    <a class="page-scroll" href="#jobs">Jobb</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill mainBG">
                    <div class="intro-text">
                        <div class="intro-heading">Join the tribe!</div>
                        <div class="intro-lead-in">IT-Konsulterna som förenklar framtiden</div>
                        <a class="page-scroll" href="#offer"><div class="intro-lead-in-link">Läs Mer</div></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="fill mainBG">
                    <div class="intro-text">
                        <div class="intro-heading">Join the tribe 2!</div>
                        <div class="intro-lead-in">IT-Konsulterna som förenklar framtiden</div>
                        <a href="#about"><div class="intro-lead-in-link">Läs Mer</div></a>
                    </div>
                </div>
            </div>
<!--             <div class="item">
                    <div class="intro-text-alt bg-darkest-gray">
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <h2 class="section-heading text-center">Välkommen, helt enkelt!</h2>
                                    <p>Contribe är en leverantör inom systemutveckling, test/verifiering och verksamhetsutveckling. En snabbt växande skara IT-konsulter med ett och samma mål – att ge våra kunder tillgång till smarta sätt att effektivisera och eliminera krångel i vardagen.</p><p>Contribe är din expertresurs, din kollega och din leverantör – när och så länge du behöver det. Vi vet att vår prestigelösa attityd smittar av sig på kunder och nya medarbetare. Det blir ofta så när man trivs ihop och ser resultat. Vi är en tribe, en stam, och du är varmt välkommen in i gemenskapen.</p>
                                </div> 
                            </div>
                        </div>
                    </div>
                <div class="fill secondBG intro-text-half">
                </div>
            </div> -->
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
</header>
