<!-- values Section -->
<section id="values"> 

	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12 text-center">
	                <h2 class="section-heading">Våra Värdeord</h2>
	                <h3 class="section-subheading text-muted">Fyra ord som beskriver oss</h3>
	            </div>
	        </div>
	    </div>
	    <div class="accordion">
		    <section class="accordion-item fill">
		        <h2>Glädje</h2>
		        <div class="accordion-item-content">
		          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra libero ultricies mauris pretium fermentum. In gravida est volutpat elit viverra consectetur. Cras mattis suscipit odio molestie aliquam. Phasellus ut hendrerit ipsum. Nam eu massa sollicitudin, feugiat mi at, posuere justo. Cras tincidunt rhoncus tempus. Mauris sit amet mi finibus ligula bibendum rhoncus. Mauris nec nulla vitae nunc vulputate consectetur vitae eu augue.</p>
		        </div>
		    </section>
		    <section class="accordion-item fill">
		        <h2>Passion</h2>
		        <div class="accordion-item-content">
		          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra libero ultricies mauris pretium fermentum. In gravida est volutpat elit viverra consectetur. Cras mattis suscipit odio molestie aliquam. Phasellus ut hendrerit ipsum. Nam eu massa sollicitudin, feugiat mi at, posuere justo. Cras tincidunt rhoncus tempus. Mauris sit amet mi finibus ligula bibendum rhoncus. Mauris nec nulla vitae nunc vulputate consectetur vitae eu augue.</p>
		        </div>
		    </section>
		    <section  class="accordion-item fill">
		        <h2>Mod</h2>
		        <div class="accordion-item-content">
		          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra libero ultricies mauris pretium fermentum. In gravida est volutpat elit viverra consectetur. Cras mattis suscipit odio molestie aliquam. Phasellus ut hendrerit ipsum. Nam eu massa sollicitudin, feugiat mi at, posuere justo. Cras tincidunt rhoncus tempus. Mauris sit amet mi finibus ligula bibendum rhoncus. Mauris nec nulla vitae nunc vulputate consectetur vitae eu augue.</p>
		        </div>
		    </section>
		    <section class="accordion-item fill">
		        <h2>Enkelhet</h2>
		        <div class="accordion-item-content">
		          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra libero ultricies mauris pretium fermentum. In gravida est volutpat elit viverra consectetur. Cras mattis suscipit odio molestie aliquam. Phasellus ut hendrerit ipsum. Nam eu massa sollicitudin, feugiat mi at, posuere justo. Cras tincidunt rhoncus tempus. Mauris sit amet mi finibus ligula bibendum rhoncus. Mauris nec nulla vitae nunc vulputate consectetur vitae eu augue.</p>
		        </div>
		    </section>
		</div>
</section>