<!-- values Section -->
<section id="values"> 
<!-- 		<div id="myCarousel2" class="carousel slide" data-ride="carousel" data-interval="5000">
	        <ol class="carousel-indicators">
	            <li data-target="#myCarousel2" data-slide-to="2" class="active"></li>
	            <li data-target="#myCarousel2" data-slide-to="3"></li>
	        </ol>
	        <div class="carousel-inner">
	            <div class="item active">
	                <div class="fill secondBG aboutSlide">
	                </div>
	            </div>
	            <div class="item">
	                <div class="fill secondBG aboutSlide">
	                </div>
	            </div>
	        </div>
	        <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
	            <span class="icon-prev"></span>
	        </a>
	        <a class="right carousel-control" href="#myCarousel2" data-slide="next">
	            <span class="icon-next"></span>
	        </a>
	    </div> -->
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12 text-center">
	                <h2 class="section-heading">Våra Värdeord</h2>
	                <h3 class="section-subheading text-muted">Fyra ord som beskriver oss</h3>
	            </div>
	        </div>
	    </div>
	    <div class="accordion">
		    <section class="accordion-item fill">
		        <h1>Glädje</h1>
		        <div class="accordion-item-content">
		          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra libero ultricies mauris pretium fermentum. In gravida est volutpat elit viverra consectetur. Cras mattis suscipit odio molestie aliquam. Phasellus ut hendrerit ipsum. Nam eu massa sollicitudin, feugiat mi at, posuere justo. Cras tincidunt rhoncus tempus. Mauris sit amet mi finibus ligula bibendum rhoncus. Mauris nec nulla vitae nunc vulputate consectetur vitae eu augue.</p>
		        </div>
		    </section>
		    <section class="accordion-item fill">
		        <h1>Passion</h1>
		        <div class="accordion-item-content">
		          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra libero ultricies mauris pretium fermentum. In gravida est volutpat elit viverra consectetur. Cras mattis suscipit odio molestie aliquam. Phasellus ut hendrerit ipsum. Nam eu massa sollicitudin, feugiat mi at, posuere justo. Cras tincidunt rhoncus tempus. Mauris sit amet mi finibus ligula bibendum rhoncus. Mauris nec nulla vitae nunc vulputate consectetur vitae eu augue.</p>
		        </div>
		    </section>
		    <section  class="accordion-item fill">
		        <h1>Mod</h1>
		        <div class="accordion-item-content">
		          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra libero ultricies mauris pretium fermentum. In gravida est volutpat elit viverra consectetur. Cras mattis suscipit odio molestie aliquam. Phasellus ut hendrerit ipsum. Nam eu massa sollicitudin, feugiat mi at, posuere justo. Cras tincidunt rhoncus tempus. Mauris sit amet mi finibus ligula bibendum rhoncus. Mauris nec nulla vitae nunc vulputate consectetur vitae eu augue.</p>
		        </div>
		    </section>
		    <section class="accordion-item fill">
		        <h1>Enkelhet</h1>
		        <div class="accordion-item-content">
		          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra libero ultricies mauris pretium fermentum. In gravida est volutpat elit viverra consectetur. Cras mattis suscipit odio molestie aliquam. Phasellus ut hendrerit ipsum. Nam eu massa sollicitudin, feugiat mi at, posuere justo. Cras tincidunt rhoncus tempus. Mauris sit amet mi finibus ligula bibendum rhoncus. Mauris nec nulla vitae nunc vulputate consectetur vitae eu augue.</p>
		        </div>
		    </section>
		</div>
</section>